@function vw($px) {
    @return ($px / 750) * 100vw
};

.nav_box_pop {
    width: 100%;
    height: auto;
    position: absolute;
    top: vw(50);
    z-index: 1001;
    max-height: 95%;
    overflow: auto;

    .nav_box_title {
        text-align: center;
        color: #454545;
        font-size: vw(65);
        margin: vw(30) 0;
    }

    .nav_ul {
        width: 80%;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 10%;

        li {
            margin-bottom: vw(10);

            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                margin-bottom: vw(25);

                span {
                    position: absolute;
                    display: block;
                    height: 16px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #fff;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    margin-left: 13%;
                }

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }

    .nav_close {
        width: vw(95);
        height: vw(95);
        margin-top: vw(50);
        margin-left: vw(325);
        background: url(https://img.dnfcity.qq.com/weixin20/base/menu/pop_close.png) no-repeat;
        background-size: 100% 100%;
    }
}